services:
  edge:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: ["/entrypoints/edge_entrypoint.sh"]
    networks:
      - ros_docker_reservoir
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  agent:
      build:
        context: .
        dockerfile: docker/Dockerfile
      command: ["/entrypoints/agent_entrypoint.sh"]
      volumes:
        - ./results:/results
      networks:
        - ros_docker_reservoir
      deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                count: 1
                capabilities: [gpu]

networks:
  ros_docker_reservoir:
    name: ros_reservoir_eval
